.flex{
    display: flex;
}


body {
    margin: 0;
    background-color: black;
}

.main-container {
    background: linear-gradient(243deg, #262737 8.32%, rgba(38, 42, 55, 0.00) 80.41%);
    width: 100vw;
    height: 100vh;

}

.title {
    color: #9AA5B5;
    font-family: Inter;
    font-size: 52px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.sub-container {
    display: flex;
    flex-direction: row;
}


.form-container {}


.form-input {

    height: 83px;
    padding: 29px 129px 30px 19px;
    align-items: center;
    border-radius: 30px;
    background: #323644;

}

.form-input-email{
    display: flex;
width: 560px;
height: 84px;
padding: 41px 376px 19px 52px;
align-items: center;
flex-shrink: 0;
}

.register-button {
    display: inline-flex;
    height: 105px;
    padding: 0px 85px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #AAA1A1;
    background: #323644;
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}



.des-container {}

.des {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.moreInfo {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}