@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;800;900&display=swap');



body {
    margin: 0;
    background: linear-gradient(243deg, #262737 8.32%, rgba(38, 42, 55, 0.00) 80.41%);
    background-color: black;
}



.title {
    color: #9AA5B5;
    font-family: 'Montserrat', sans-serif;

    


}






.form-input {

    height: 83px;
    color: rgb(255, 255, 255);
    padding: 29px 129px 30px 19px;
    align-items: center;
    border-radius: 30px;
    background: #323644;
    

}

.form-input-email{
    display: flex;

height: 84px;
padding: 41px 376px 19px 52px;
align-items: center;
flex-shrink: 0;
}

.register-button {
    display: inline-flex;
    height: 105px;
    padding: 0px 85px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #AAA1A1;
    background: #323644;
    color: #FFF;
    font-family: 'Inter', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}





.des {
    color: #c3c2c2;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.moreInfo {
    color: #929292;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

